@font-face {
	font-family: 'josefin';
	src: url('../fonts/throttle.php?chunk_size=1000&sleep=0.1&f=josefinfull/josefinslab-bold-webfont.eot');
	src: url('../fonts/throttle.php?chunk_size=1000&sleep=0.1&f=josefinfull/josefinslab-bold-webfont.eot#iefix') format('embedded-opentype'),
		 url('../fonts/throttle.php?chunk_size=1000&sleep=0.1&f=josefinfull/josefinslab-bold-webfont.woff') format('woff'),
		 url('../fonts/throttle.php?chunk_size=1000&sleep=0.1&f=josefinfull/josefinslab-bold-webfont.ttf')  format('truetype'),
		 url('../fonts/throttle.php?chunk_size=1000&sleep=0.1&f=josefinfull/josefinslab-bold-webfont.svg#svgFontName') format('svg');
}
@font-face {
	font-family: 'cartoonist';
	src: url('../fonts/throttle.php?chunk_size=700&sleep=0.1&f=cartoonist/SF_Cartoonist_Hand-webfont.eot');
	src: url('../fonts/throttle.php?chunk_size=700&sleep=0.1&f=cartoonist/SF_Cartoonist_Hand-webfont.eot#iefix') format('embedded-opentype'),
		 url('../fonts/throttle.php?chunk_size=700&sleep=0.1&f=cartoonist/SF_Cartoonist_Hand-webfont.woff') format('woff'),
		 url('../fonts/throttle.php?chunk_size=700&sleep=0.1&f=cartoonist/SF_Cartoonist_Hand-webfont.ttf')  format('truetype'),
		 url('../fonts/throttle.php?chunk_size=700&sleep=0.1&f=cartoonist/SF_Cartoonist_Hand-webfont.svg#svgFontName') format('svg');
}